<div id="main">
  <div
    class="overflow-y"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    [scrollWindow]="false"
    (scrolled)="onScrollDown()"
  >
    <div nz-row class="infomation">
      <app-personal-infomation
        [profile]="profileFriend"
        [friend]="friend"
      ></app-personal-infomation>
    </div>
    <div nz-row class="tabs">
      <nz-tabset class="tabset">
        <nz-tab [nzTitle]="postTitle">
          <div *ngFor="let post of listPosts">
            <app-posts [profile]="profile" [post]="post"></app-posts>
          </div>
          <div style="color:#ffffff">{{errorMessage}}</div>
        </nz-tab>
      </nz-tabset>
      <ng-template #postTitle>
        <div class="title">Posts</div>
      </ng-template>
    </div>
  </div>
</div>
