#my-ul-element {
        list-style-type: none;
        padding-left: 0px;
      }

li{
    margin-left: 0px;
}
.overflow-y{
    position: relative;
    height: 103%; 
    overflow: hidden auto;
}
/* .overflow-y::-webkit-scrollbar { 
      width: 0 !important;
      display: none; 
  } */
  /* width */
  .overflow-y::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .overflow-y::-webkit-scrollbar-track {
    
    border-radius: 10px;
  }
   
  /* Handle */
  .overflow-y::-webkit-scrollbar-thumb {
    background: #7e7e7e; 
    border-radius: 10px;
  }
  /* Handle on hover */
  /* .overflow-y::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  } */
  

.main{
    height: 100%;
}
.chat-with{
    height: 70px;
    background-color: #1c1e21;
    border-top:1px solid rgba(255,255,255,0.1);
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 15px;
}

.name-friend{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.content{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 455px;

}
.send{
   height:65px;
   background-color: #1c1e21;

}
.icon-send{
    font-size: 22px;
}
.icon-send:hover{
color:#1890ff;
}
.icon{
    text-align:center;
    padding-top:1.5%;
}
:host ::ng-deep .ant-input{
    border-radius: 20px;
    height: 40px;
}
.send-message{
    float:right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width:46%;
    margin-right: 1%;
    margin-left: 2%;
    border-radius: 20px;
    background-color: black;
    border:1px solid black;
    color:#ffffff;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 5px;
    
}
.receiver-message{
    float:left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width:46%;
    margin-right: 2%;
    margin-left: 1%;
    border-radius: 20px;
    border:1px solid #7e7e7e;
    color:#ffffff;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 5px;
    
}
.avatar-message-send{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float:right;
    margin-top: 4px;
    margin-right: 10px;
}
.avatar-message-receiver{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float:left;
    margin-top: 4px;

}
.message-status{
    float:right;
    color:black;
    font-size:18px;
}
.online{
color:#1890ff;
font-size: 14px;
margin-bottom: 5px;
}
.offline{
    color:#7e7e7e;
    font-size: 12px;
    margin-bottom: 5px;

}


