#main {
    font-family: inherit;
    line-height: inherit;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 25, 25, 1);
    /* padding-top: 23px; */
    height: 100%;
    width: 100%;
    color: #ffffff;
    position: fixed;
    margin-top: 20px;
    /* padding-bottom: 80px; */
  }
  
    .overflow-y{
      position: relative;
      height: 90%; 
      overflow: hidden auto;
  }
  /* .overflow-y::-webkit-scrollbar { 
      width: 0 !important;
      display: none; 
  } */
  /* width */
  .overflow-y::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.overflow-y::-webkit-scrollbar-track {
  
  border-radius: 10px;
}
 
/* Handle */
.overflow-y::-webkit-scrollbar-thumb {
  background: #7e7e7e; 
  border-radius: 10px;
}
/* Handle on hover */
/* .overflow-y::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
} */

  .post{
    width:40%;
    margin-left: auto;
    margin-right: auto;
  }
  .search-results{
    height: 50%;
  }
  