<div style="padding-bottom:30px">
<div class="new-post">
<div class="create"><i class="fa-solid fa-plus icon-plus"></i> Create new post</div>
</div>
<div class="post">
  <div nz-row>
    <div nz-col nzSpan="4">
      <img
        class="avatar"
        src="https://res.cloudinary.com/anhtuanbui/image/upload/v1664100099/ontfnn5207ahpszqsjkq.png"
        alt="avatar"
      />
    </div>
    <div nz-col nzSpan="8">
      <div class="name">Anh Tuan Bui</div>
      <div>27/9/2022 at 12:12</div>
    </div>
  </div>
  <div class="title">Dang lam do an</div>
  <div>
    <img
      class="image"
      src="https://res.cloudinary.com/anhtuanbui/image/upload/v1664100099/ontfnn5207ahpszqsjkq.png"
      alt="avatar"
    />
  </div>
  <div class="likes">152 likes</div>
  <div class="or1"></div>
  <button class="button" nz-button nzType="default" [nzGhost]="true">
    <i class="fa-regular fa-heart icon"></i>Like
  </button>
  <button class="button" nz-button nzType="default" [nzGhost]="true">
    <i class="fa-regular fa-comment icon"></i>Comment
  </button>
  <button class="button" nz-button nzType="default" [nzGhost]="true">
    <i class="fa-solid fa-share icon"></i>Share
  </button>
  <div class="or1"></div>
</div>
<div class="post">
  <div nz-row>
    <div nz-col nzSpan="3">
      <img
        class="avatar"
        src="https://res.cloudinary.com/anhtuanbui/image/upload/v1664100099/ontfnn5207ahpszqsjkq.png"
        alt="avatar"
      />
    </div>
    <div nz-col nzSpan="6">
      <div class="name">Anh Tuan Bui</div>
      <div>27/9/2022 at 12:12</div>
    </div>
  </div>
  <div class="title">Dang lam do an</div>
  <div>
    <img
      class="image"
      src="https://res.cloudinary.com/anhtuanbui/image/upload/v1664100099/ontfnn5207ahpszqsjkq.png"
      alt="avatar"
    />
  </div>
  <div class="likes">152 likes</div>
  <div class="or1"></div>
  <button class="button" nz-button nzType="default" [nzGhost]="true">
    <i class="fa-regular fa-heart icon"></i>Like
  </button>
  <button class="button" nz-button nzType="default" [nzGhost]="true">
    <i class="fa-regular fa-comment icon"></i>Comment
  </button>
  <button class="button" nz-button nzType="default" [nzGhost]="true">
    <i class="fa-solid fa-share icon"></i>Share
  </button>
  <div class="or1"></div>
</div>
</div>