<div style="padding-bottom:30px">
  <app-create-post></app-create-post>
  <div *ngFor="let post of listPosts">
    <div class="post">
      <div nz-row>
        <div nz-col nzSpan="4">
          <img
            class="avatar"
            [src]="post.avatar_url"
            alt="avatar"
          />
        </div>
        <div nz-col nzSpan="20">
          <div nz-row class="name">
            <div nz-col nzSpan="22">{{post.name}}</div>
            <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nz-col nzSpan="2" class="icon">
              <i class="fa-solid fa-ellipsis"></i>
            </div>
            
          </div>
          <div>{{post.posting_time}}</div>
        </div>
      </div>
      <div class="title">{{post.content}}</div>
      <div *ngIf="post.picture_url">
        <img
          class="image"
          [src]="post.picture_url"
          alt="avatar"
        />
      </div>
      <div class="likes">{{post.count_likes}} Likes</div>
      <div class="or1"></div>
      <button class="button" nz-button nzType="default" [nzGhost]="true">
        <i class="fa-regular fa-heart icon"></i>Like
      </button>
      <button class="button" nz-button nzType="default" [nzGhost]="true">
        <i class="fa-regular fa-comment icon"></i>Comment
      </button>
      <button class="button" nz-button nzType="default" [nzGhost]="true">
        <i class="fa-solid fa-share icon"></i>Share
      </button>
      <div class="or1"></div>
    </div>
  </div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item><i class="fa-solid fa-pen-to-square icon-drop"></i>Edit post</li>
      <li nz-menu-divider></li>
      <li nz-menu-item><i class="fa-solid fa-trash-can icon-drop"></i> Delete</li>

    </ul>
  </nz-dropdown-menu>